<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
 <p style="font-size: 20px; color: blue">Carregando...</p>
</ngx-spinner>

<div class="titulo" style="text-align: center">
  <h1>
    Lista de Veículos
  </h1>
</div>

<div class="row">
  <div class="col s12 m12 l12">
    <button mat-icon-button>
      <mat-icon (click)="callNew()">add_circle_outline</mat-icon>
    </button>  
    <mat-table #table [dataSource]="dataSource" matSort class="table-striped">

      <ng-container matColumnDef="actionsColumn">
        <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-icon-button>
                <mat-icon class="link_action"  matTooltip="Excluir" (click)="deleteConfirmation(element.id)">delete</mat-icon>
            </button>  
            <button mat-icon-button>
                <mat-icon class="link_action"  matTooltip="Editar" (click)="callUpdate(element.id)">edit</mat-icon>
            </button>
        </mat-cell>
      </ng-container>  

      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>>
      </ng-container>
  
      <ng-container matColumnDef="valor">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Valor </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.valor}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="dtLocacao">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Data Locação </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            {{datePipe.transform(element.dtLocacao,'dd/MM/yyyy HH:mm')}}
        </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="dtEntrega">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Data Entrega </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
            {{datePipe.transform(element.dtEntrega,'dd/MM/yyyy HH:mm')}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cliente">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.cliente?.nome}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="veiculo">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Veículo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.veiculo?.descricao}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>  
    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>  
  </div>
</div>